page-login {

    @import "../../assets/css/materialize.min.css";
   
  .log {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    
    color: white;
  }


  

  .round {
    border-radius: 25px;
    background-color: white;
    color:black;
    font-family: 'Orbitron', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }

  .fontfam {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    
  }


  // OVERRIDE

  ion-title {
    font-family: 'Orbitron', sans-serif;

  }

  .no-scroll .scroll-content{
    overflow: hidden;
    padding-bottom: 0px !important;
  }

  // -----ANDROID------
    // BOUTTON SIDE MENU
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
      color: #FFFFFF;

      text-align: center;

  }
  // TOOLBAR
  .toolbar-title-md {
      color: #FFFFFF;
      text-align: center;
  }

  // IOS 
  // BOUTTON SIDE MENU
  .toolbar-title-ios {
      color: #FFFFFF;
  }
  // BOUTTON SIDE MENU
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
      color: #FFFFFF;
  }

  // BACKGROUND HEADER
  .toolbar-background {
    background-color: transparent;
  }

  

  .item-ios .item-button,
  .item-md .item-button {
    height: 40px;
    margin:auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .button-md.activated {
    color: white;
  }
  

  ion-content{
    background: -webkit-linear-gradient(top, #000064 , #00E0F0);
    width: 100%;
    height: 100%;
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    border-bottom: none;
  }

  .card-ios,
  .card-md {
    border-radius: 10px;
    background: transparent;
    color: white;
    box-shadow: none;
    -webkit-box-shadow:none;
  }

  .item-md ion-avatar,
  .item-ios ion-avatar {
    margin-top: 0px;
  }

  button:focus {
    background-color: transparent;
  }

  .checkbox-ios .checkbox-checked,
  .checkbox-md .checkbox-checked {
    border-color:#000079
    ;
    background-color: #000079;
  }


  .item-ios ion-avatar ion-img, .item-ios ion-avatar img,
  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  } 
  
  .card .card-content {
    padding-top: 0px;

  }


  .item-ios,
  .item-md {
    background-color: transparent;
    color:white;
  }
  .list-ios > .item-block:first-child {
    border-top:none;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
   border-bottom: none; 
  }

  .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
    border-bottom: none; 
   }


  input:not([type]):focus:not([readonly]), 
  input[type="text"]:not(.browser-default):focus:not([readonly]), 
  input[type="password"]:not(.browser-default):focus:not([readonly]), 
  input[type="email"]:not(.browser-default):focus:not([readonly]), 
  input[type="url"]:not(.browser-default):focus:not([readonly]), 
  input[type="time"]:not(.browser-default):focus:not([readonly]), 
  input[type="date"]:not(.browser-default):focus:not([readonly]), 
  input[type="datetime"]:not(.browser-default):focus:not([readonly]), 
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), 
  input[type="tel"]:not(.browser-default):focus:not([readonly]), 
  input[type="number"]:not(.browser-default):focus:not([readonly]), 
  input[type="search"]:not(.browser-default):focus:not([readonly]), 
  textarea.materialize-textarea:focus:not([readonly]) { 
  
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;

    border-bottom: 1px solid rgb(255, 255, 255);

  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
   .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom: none;
     box-shadow: none;
     -webkit-box-shadow:none;
   }



  input:not([type]), 
  input[type=text]:not(.browser-default), 
  input[type=password]:not(.browser-default), 
  input[type=email]:not(.browser-default), 
  input[type=url]:not(.browser-default), 
  input[type=time]:not(.browser-default), 
  input[type=date]:not(.browser-default), 
  input[type=datetime]:not(.browser-default), 
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default), 
  input[type=number]:not(.browser-default), 
  input[type=search]:not(.browser-default), 
  textarea.materialize-textarea{
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
  }

  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: none;
    box-shadow: none;
    -webkit-box-shadow:none;
  }


  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-repeat: no-repeat; 
  }
  .scroll-content,
  ion-app.md [padding] .scroll-content {
    padding-bottom: 0px;  
  }

  .scroll-content {
    overflow-y: none !important;
  }
  
  

}